body{
    background: #32aaff;
}
.msgs{
    padding: 10px 0;
    font-size: 30px;
}
.msg{
    width: 600px;
    line-height: 50px;
    margin: 5px auto;
    color: white;
    padding: 5px 0;
}
.send{
    width: 600px;
    margin: 5px auto;
}
.txt_send_name{
    width: 150px;
    line-height: 50px;
    font-size: 20px;
}
.txt_send_text{
    width: 350px;
    line-height: 50px;
    font-size: 20px;
}
#btn_send{
    width: 80px;
    line-height: 50px;
    font-size: 20px;
}

